altgraph==0.17
astroid==2.4.1
certifi==2020.4.5.1
chardet==3.0.4
geographiclib==1.50
geopy==1.22.0
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
macholib==1.14
mccabe==0.6.1
modulegraph==0.18
py2app==0.21
pycodestyle==2.6.0
pylint==2.5.2
pyobjc-core==6.2
pyobjc-framework-Cocoa==6.2
python-dateutil==2.8.1
requests==2.23.0
rumps==0.3.0
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.9
wrapt==1.12.1
